@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #3c3a39;
  align-items: center;
  height: 85px;
}

#nav-menu {
  display: none;
}

.logo {
  display: flex;
  color: #fff;
  text-decoration: solid;
  font-weight: 700;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  align-items: center;
  margin-left: 20px;
}

.menu {
  position: relative;
  display: inline-block;
  padding: 0 1rem;
}

.my-name {
  padding-top: 40px;
  color: #ff6b00;
  width: 80%;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  margin-bottom: 0;
}

.profession {
  height: 24px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #fff5e1;
  margin-bottom: 20px;
}

.i-can-do {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  height: 400%;
}

.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background: #1c1a19;
  padding-bottom: 10rem;
  padding-left: 1rem;
  background-image: url("./images/Illustration.png");
  background-position: top 8rem right;
  background-repeat: no-repeat;
}

.links {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 70%;
  height: 40px;
  gap: 20px;
  list-style: none;
  margin-left: -8rem;
}

.my-work-title {
  font-family: "Crete Round", serif;
  font-style: normal;
  color: #1c1a19;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  display: inline-block;
}

#line {
  margin-top: 20px;
  border: 1px solid;
  width: 90%;
}

.project-section {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#works-section {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  padding: 1em;
  grid-row-gap: 1rem;
}

.project1 {
  display: flex;
  flex-direction: column;

  /* margin-top: 5px; */
  padding-top: 0.5rem;
  align-items: center;
  gap: 0;
}

.project1-picture {
  width: 100%;
  padding-top: 10%;
  height: 20rem;
}

.project1-title {
  color: #091e42;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  margin-top: 0;
}

.project1-description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #091e42;
}

.project1-tech {
  padding-top: 10px;
  display: flex;
  list-style: none;
  gap: 10px;
  width: 100%;
}

.project1-tech button {
  padding: 10px;
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.project1-tech li {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
}

.project1-button {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  padding: 10px;
  background: #ff6b00;
  color: #fff;
  border-color: #ff6b00;
  align-self: flex-start;
  margin-top: 10px;

  /* margin-left: 10px; */
}

.project2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./images/project2.png");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: flex-end;
  height: 400px;
  width: 100%;
  align-self: center;
}

.project2-title {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;

  /* width: 295px; */
  height: 81px;
  padding-top: 80px;
  color: #fff;
}

.project2-description {
  /* width: 295px; */
  height: 87px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-top: 86px;
}

.project2-tech {
  display: flex;
  list-style: none;
  width: 295px;
  gap: 10px;
}

.project2-tech button {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  background: rgba(255, 255, 255, 0.24);
  border: none;
  padding: 10px;
  margin-top: 15px;
  width: 100%;
}

.project2-button {
  background: #ff6b00;
  align-self: stretch;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  padding: 10px;
  color: #fff;
  margin-top: 45px;
}

.about-title {
  font-family: "Crete Round", sans-serif;
  width: 90%;

  /* width: 327px; */
  height: 79px;
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 88px;
  color: #ff6b00;
  margin-top: 80px;
  text-align: start;
}

.about-description {
  /* width: 327px; */
  width: 90%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  text-align: flex-start;
  padding-top: 2rem;
}

.button-resume {
  width: 161px;
  height: 48px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background: #ff6b00;
  padding: 12px;
  border: none;
  color: #fff;
  margin-top: 2rem;
}

#about-section {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1em;
  grid-row-gap: 25px;
  background-color: #1c1a19;

  /* width: 375px; */
  align-items: center;
  margin-top: 90px;
  padding-bottom: 20px;
  background-image: url("./images/Frame-about.png");
  background-repeat: no-repeat;
  background-position: top 305px right;
}

.about-line {
  width: 100%;
  border: 1px solid #fff;
  margin-top: 150px;
  margin-left: -10px;
  margin-bottom: 80px;
}

.language,
.frameworks,
.skills {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.language-word,
.frameworks-word,
.skills-word {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  width: 227px;
  height: 24px;
  align-content: center;
}

.language-list,
.frameworks-list,
.skills-list {
  list-style: none;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 43px;
  align-items: center;
  margin-top: 15px;
  padding: 10px;
}

.skills-list li {
  align-items: center;
}

.skills-word img {
  margin-left: 40px;
}

.language-list,
.frameworks-list,
.skills-list li {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button-contactform {
  width: 131px;
  height: 48px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background: #ff6b00;
  padding: 12px;
  gap: 10px;
  border: none;
  color: #fff;
  letter-spacing: 0.03em;
  display: table;
  margin: 1.5rem auto;
}

.button-resume:hover,
.project1-button:hover,
.project2-button:hover,
.button-contactform:hover {
  background-color: #fff5e1;
  cursor: pointer;
}

#contactform {
  /* width: 375px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#intro-contactform {
  display: flex;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 100px;
  color: #172b4d;
  margin-bottom: 30px;
  align-content: center;
  text-align: center;
  align-items: center;
}

#contact-input ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#name-contactform {
  height: 18px;
  left: 16px;
  right: 16px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  border: none;
  margin-top: 45px;
  margin-bottom: -5px;
  color: #979493;
  width: 295px;
}

#text-contactform {
  left: 12px;
  right: 12px;
  top: 12px;
  bottom: 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
  margin-top: 40px;
  width: 20rem;
  height: 114px;
  background: #fbf8f7;
  border: none;
  padding-left: 15px;
  padding-top: 15px;
}

#contactform-line {
  width: 20rem;
  height: 1px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dbd8d7;
}

.line-contactform {
  margin-top: 120px;
}

.links-footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-self: center;
  list-style: none;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.linefooter-contactform {
  display: block;
  width: 35%;
  height: 5px;
  bottom: 8px;
  background: #0d151e;
  border-radius: 10px;

  /* margin-left: 125px; */
  margin-bottom: 10px;
  align-self: center;
}

.project2-title2,
.project2-title3,
.project2-button2,
.textarea-desktop {
  display: none;
}

@media (min-width: 768px) {
  .nav-bar {
    justify-content: space-between;
    align-items: center;
  }

  #menu-icon {
    display: none;
  }

  .logo {
    font-size: 20px;
    line-height: 20px;
  }

  #nav-menu {
    position: static;
    display: flex;
    z-index: 0;
    align-items: center;
    justify-content: center;
  }

  #nav-menu a {
    color: #fff;
    display: block;
    padding: 1rem 2rem;
    font-size: 15px;
    line-height: 20px;
    font-style: normal;
    text-decoration: solid;
  }

  .content {
    height: 100vh;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 4rem;
    background-image: url("./images/Illustration-header2.png");
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: center right;
  }

  .my-name {
    font-size: 72px;
    line-height: 82px;
    width: 50%;
  }

  .profession {
    font-size: 32px;
    line-height: 44px;
  }

  .i-can-do {
    font-size: 20px;
    line-height: 32px;
    width: 45%;
  }

  .links {
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    height: max-content;
    width: fit-content;
    margin-left: 1rem;
  }

  .project-section {
    margin-top: 4rem;
  }

  .my-recent-works {
    display: flex;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }

  .my-work-title {
    width: 70%;
    margin-right: 0;
  }

  #line {
    width: 100%;
    height: 0;
  }

  #works-section {
    grid-template-columns: auto auto auto;
    grid-column-gap: 3rem;
    padding-top: 7rem;
    width: 90%;
    margin: 0 auto;
  }

  .project1 {
    grid-column: 1 / span 3;
    width: 90%;
    flex-direction: row;
    align-items: flex-start;
    margin: 0;
    gap: 1rem;
  }

  .project1-picture {
    width: 50%;
    height: auto;
    padding-top: 0;
  }

  .project1-picture img {
    width: 100%;
    object-fit: contain;
  }

  .project1-title h1 {
    /* margin-top: 6rem; */
    font-size: 40px;
    line-height: 52px;
    text-align: left;
  }

  .project1-content {
    margin-top: 0;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
  }

  .project1-description p {
    width: 100%;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 0;
  }

  .desktop-hide1,
  .desktop-hide2,
  .project2-button {
    display: none;
  }

  .project2-button2 {
    display: block;
    background: #ff6b00;
    align-self: stretch;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    padding: 10px;
    color: #fff;
    margin-top: 45px;
  }

  .project2-button2:hover {
    background-color: #fff5e1;
    cursor: pointer;
  }

  .project2-title2,
  .project2-title3 {
    display: flex;
    justify-content: center;
    height: 81px;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    padding-top: 3rem;
    color: #fff;
  }

  .project2-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./images/desktop-project3.png");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: flex-end;
    height: 400px;
    width: 100%;
    align-self: center;
  }

  .project2-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./images/desktop-project4.png");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: flex-end;
    height: 400px;
    width: 100%;

    /* align-self: center;  */
  }

  #about-section {
    background-image: url("./images/about-desktop.png");
    background-position: top 6rem right;
  }

  .about-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-self: flex-start;
    text-align: start;
    gap: 1rem;
    margin-left: 4rem;
  }

  .about-description {
    font-size: 20px;
    line-height: 32px;
    width: 45%;
  }

  .about-title {
    font-size: 72px;
    line-height: 82px;
    width: 50%;
  }

  .skill-section {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .contact-writing {
    display: flex;
    margin-top: 5rem;
    align-items: center;
  }

  #intro-contactform {
    text-align: left;
    width: 30%;
    margin-left: 10rem;
    margin-top: -4rem;
    font-weight: 700;
font-size: 40px;
line-height: 52px;
color: #262626;
  }
  #contact-input ul {
    align-items: flex-start;
  }
  .textarea-desktop {
    display: contents;
  }
  #text-contactform {
    width: 45rem;
    margin-top: 0rem;
  }
  .textarea-mobile{
    display: none;
  }
  #contactform-line {
    width: 45rem;
  }
  .button-contactform {
    margin: 1.5rem 0;
  }

  .footer-contactform {
    margin-top: 3rem;
    grid-column: 1 /3;
    width: 100%;
  }

  .footer-contactform img {
    height: 1.5rem;
  }

  .links-footer {
    gap: 2rem;
  }

  .linefooter-contactform {
    display: none;
  }

  .line-contactform {
    grid-column: 1 /span 3;
    margin-bottom: -4rem;
  }
}
